body {
  margin: 0;
  padding: 0;
  background-color: #d5b9b2;
  color: #121619;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Change color of body on tablet*/
  body {
    background-color: #d5b9b2;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*Change color of body on desktop*/
  body {
    background-color: #e1ece3;
  }
}

header {
  margin: 0;
  padding: 1rem;
  background-color: #582c4d;
  position: sticky;
  top: 0;
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Change color of body on tablet*/
  header {
    background-color: #582c4d;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*Larger header*/
  header {
    padding: 5em;
  }

  /*Change color*/
  header {
    background-color: #294d4a;
  }
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: 50px;
  text-align: center;
  font-weight: 900;
  padding-left: 0;
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Larger gap between text in nav bar on tablet*/
  nav ul {
    gap: 55px;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*Larger gap between text in nav bar on desktop*/
  nav ul {
    gap: 80px;
  }
}

nav a {
  text-decoration: none;
  color: #fff;
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Larger text on nav bar on desktop*/
  nav a {
    font-size: 1.25rem;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*Larger text on nav bar on desktop*/
  nav a {
    font-size: 2rem;
  }
  /*Hover over nav bar on desktop*/
  nav a:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.nav-bar {
  display: flex;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: auto;
  flex-wrap: nowrap;
  justify-content: center;
}

#main {
  margin: 0 auto;
  padding: 0 2em;
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Increase padding on tablet*/
  #main {
    padding: 0 5em;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*Increase padding on desktop*/
  #main {
    padding: 0 10em;
  }
}

h1 {
  text-align: center;
  color: #582c4d;
  font-size: 4rem;
  font-weight: 500;
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Larger h1 and color change on tablet*/
  h1 {
    font-size: 4rem;
    color: #582c4d;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*Larger h1 and color change on desktop*/
  h1 {
    font-size: 6rem;
    color: #294d4a;
  }
}

img {
  margin: auto;
  max-width: 70%;
  margin-bottom: 1em;
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*img width on tablet*/
  img {
    max-width: 60%;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*img width on desktop*/
  img {
    max-width: 50%;
  }
}

section {
  margin: 2rem auto;
  max-width: 80%;
  padding: 0;
  text-align: center;
  font-size: 1.25rem;
}

h2 {
  font-weight: 900;
  color: #582c4d;
  font-size: 2rem;
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Change color and size of h2 on desktop*/
  h2 {
    color: #582c4d;
    font-size: 2rem;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*Change color and size of h2 on desktop*/
  h2 {
    color: #294d4a;
    font-size: 3rem;
  }
}

p {
  display: inline;
  color: #121619;
  text-align: center;
  line-height: 1.5;
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Change size of p on tablet*/
  p {
    font-size: 1.5rem;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*Change size of p on desktop*/
  p {
    font-size: 2rem;
  }
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Change size of p on tablet*/
  ul {
    font-size: 1.5rem;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*Change font size of ul on desktop*/
  ul {
    font-size: 2rem;
  }
}

#experience ul {
  display: flex;
  list-style-type: none;
  line-height: 1.75;
  padding-left: 0;
  gap: 10%;
  justify-content: center;
  text-align: center;
}

#skills ul {
  list-style-type: none;
  padding: 0;
  line-height: 1.75;
  max-width: 50%;
  margin: 0 auto;
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Grid for tablet view*/
  #skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px 5px;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*Grid of 3x2 on desktop*/
  #skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px 0px;
  }
}

#projects ul {
  list-style-type: none;
  padding: 0;
  line-height: 2;
  max-width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Grid for tablet view*/
  #projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, auto); */
    gap: 10px 5px;
    font-size: 3rem;
    max-width: 80%;
    /* text-wrap: nowrap; */
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*Grid of 3x2 on desktop*/
  #projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, auto); */
    gap: 10px 5px;
    font-size: 3rem;
    max-width: 100%;
    margin: 30%;
    /* text-wrap: nowrap; */
  }
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Grid for tablet view*/
  #projects-grid > li {
    font-size: 2rem;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*Grid of 3x2 on desktop*/
  #projects-grid > li {
    font-size: 2rem;
  }
}

#connect h2 {
  margin-bottom: 0;
}

#connect a {
  list-style: none;
  text-decoration: none;
  color: #582c4d;
}

form {
  max-width: 100%;
  margin: 0 auto;
}

form input {
  margin: 2em auto;
  font-size: 1.1rem;
}

form label {
  font-size: 1.1rem;
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Message section tablet view*/
  form label {
    font-size: 2rem;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*message section on desktop*/
  form label {
    font-size: 2rem;
  }
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Message section tablet view*/
  form input {
    font-size: 2rem;
    margin: 0.75em auto;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*message section on desktop*/
  form input {
    font-size: 2rem;
    margin: 0.75em auto;
  }
}

/* Phone View*/

@media screen and (max-width: 767px) {
  /*Message section phone view*/
  #usersMessage {
    width: 17em;
    height: 5em;
    margin-top: 2em;
  }
}

/* Tablet View*/

@media screen and (min-width: 768px) {
  /*Message section phone view*/
  #usersMessage {
    width: 26em;
    height: 5em;
    margin-top: 2em;
    font-size: 1.25rem;
  }
}

/* Desktop View*/

@media screen and (min-width: 1024px) {
  /*Message section phone view*/
  #usersMessage {
    font-size: 1.5rem;
  }
}

#submit-btn {
  margin-top: 2em;
  font-size: 1rem;
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Message section tablet view*/
  #submit-btn {
    background-color: #582c4d;
    font-size: 1.25rem;
    font-weight: 500;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*message section on desktop*/
  #submit-btn {
    background-color: #294d4a;
    font-size: 1.5rem;
    font-weight: 500;
    border-color: #294d4a;
  }
}

#messages {
  margin-bottom: 1em;
  margin-top: 2em;
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Message section tablet view*/
  #messages {
    margin-bottom: 3em;
    margin-top: 2em;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*message section on desktop*/
  #messages {
    margin-bottom: 3em;
    margin-top: 2em;
  }
}

#messages ul {
  list-style-type: none;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-left: 0;
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Message grid for tablet view*/
  #messages ul {
    display: grid;
    grid-template-rows: repeat(auto);
    row-gap: 50%;
    margin-top: 2em;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*message grid on desktop*/
  #messages ul {
    display: grid;
    grid-template-rows: repeat(auto);
    row-gap: 1em;
    margin-top: 2em;
  }
}

#messages li {
  margin: 1em auto;
  display: grid;
  row-gap: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50vw;
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Message grid for li tablet view*/
  #messages li {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.5em;
  }
  .remove-btn .edit-btn {
    padding: 1em;
    font-size: 1.25rem;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*Message grid for li on desktop*/
  #messages li {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.5em;
  }
}

button {
  background-color: #582c4d;
  color: #fff;
  padding: 1em;
  border-radius: 10px;
  border-color: #582c4d;
  /* max-width: 50%;
  min-width: 1em; */
  margin: auto;
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*Edit and remove button on desktop*/
  .remove-btn,
  .edit-btn {
    padding: 1em;
    background-color: #294d4a;
    font-size: 1.25rem;
    border-color: #294d4a;
  }
}

/*Tablet View*/

@media screen and (min-width: 768px) {
  /*Change color of a on tablet*/
  #connect a {
    color: #582c4d;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*Change color of a on desktop*/
  #connect a {
    color: #294d4a;
    font-size: 2rem;
  }
}

/*Desktop View*/

@media screen and (min-width: 1024px) {
  /*Add hovering effect on desktop*/
  #connect a:hover {
    color: #a26769;
  }
}

.socials {
  display: flex;
  gap: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
